<!-- Start footer -->
  <footer id="mu-footer">
    <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Thông tin</h4>
                <ul>
                  <li><a href="#">Về chúng tôi</a></li>
                  <li><a href="">Nổi bật</a></li>
                  <li><a href="">Khoá học</a></li>
                  <li><a href="">Sự kiện</a></li>
                  <li><a href="">Vị trí</a></li>
                  <li><a href="">Điều khoản sử dụng</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Giúp học viên</h4>
                <ul>
                  <li><a href="">Bắt đầu</a></li>
                  <li><a href="#">Câu hỏi của tôi</a></li>
                  <li><a href="">Tải tập tin</a></li>
                  <li><a href="">Khoá học nổi bật</a></li>
                  <li><a href="">Tin tức</a></li>                  
                </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Thư mới</h4>
                <p>Nhận cập nhật, tin tức và ưu đãi học tập mới nhất</p>
                <form class="mu-subscribe-form">
                  <input type="email" placeholder="Email">
                  <button class="mu-subscribe-btn" type="submit">Đăng ký kênh</button>
                </form>               
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Liên hệ</h4>
                <address>
                  <p>Quận 5 Nguyễn Văn Cừ</p>
                  <p>Số điện thoại (+84) 999999999/p>
                  <p>Website: www.markups.io</p>
                  <p>Email: info@markups.io</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end footer top -->
    <!-- start footer bottom -->
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy; All Right Reserved. Designed by <a href="http://www.markups.io/" rel="nofollow">MarkUps.io</a></p>
        </div>
      </div>
    </div>
    <!-- end footer bottom -->
  </footer>
  <!-- End footer -->