<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Video bài giảng</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li>Chi tiết khoá học</li>
                        <li class="active">video</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- start course content container -->
                            <div class="mu-course-container mu-course-details">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="#"><img src="assets/img/courses/1.jpg" alt="img"></a>
                                                <figcaption class="mu-latest-course-imgcaption">
                                                    <a href="#">Drawing</a>
                                                    <span><i class="fa fa-clock-o"></i>90Days</span>
                                                </figcaption>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h2><a href="#">Bài 1: Các lệnh cơ bản</a></h2>
                                                <h4>Danh sách bài học</h4>
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th> Title </th>
                                                                <th> Course Time </th>
                                                                <th> Spent Time </th>
                                                                <th> Status </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td> 1. Topic 1 </td>
                                                                <td> 15:30 </td>
                                                                <td> 13:80 </td>
                                                                <td> Successful </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 2. Topic 2 </td>
                                                                <td> 15:30 </td>
                                                                <td> 13:80 </td>
                                                                <td> Successful </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 3. Topic 3 </td>
                                                                <td> 15:30 </td>
                                                                <td> - </td>
                                                                <td> Successful </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 4. Topic 4 </td>
                                                                <td> 15:30 </td>
                                                                <td> 13:80 </td>
                                                                <td> Successful </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 5. Topic 5 </td>
                                                                <td> 15:30 </td>
                                                                <td> - </td>
                                                                <td> Waiting </td>
                                                            </tr>
                                                            <tr>
                                                                <td> 6. Topic 6 </td>
                                                                <td> 15:30 </td>
                                                                <td> 13:80 </td>
                                                                <td> - </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end course content container -->
                           
                            <!-- start blog comment -->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="mu-comments-area">
                                        <h3>5 Comments</h3>
                                        <div class="comments">
                                            <ul class="commentlist">
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <img alt="img" src="assets/img/testimonial-1.png"
                                                                class="media-object news-img">
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="author-name">David Muller</h4>
                                                            <span class="comments-date"> Posted on 12th June,
                                                                2016</span>
                                                            <p>Lorem Ipsum is that it has a more-or-less normal
                                                                distribution of letters, as opposed to using 'Content
                                                                here, content here', making it look like readable
                                                                English</p>
                                                            <a class="reply-btn" href="#">Reply <span
                                                                    class="fa fa-long-arrow-right"></span></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <img alt="img" src="assets/img/testimonial-2.png"
                                                                class="media-object news-img">
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="author-name">John Doe</h4>
                                                            <span class="comments-date"> Posted on 12th June,
                                                                2016</span>
                                                            <p>Lorem Ipsum is that it has a more-or-less normal
                                                                distribution of letters, as opposed to using 'Content
                                                                here, content here', making it look like readable
                                                                English</p>
                                                            <a class="reply-btn" href="#">Reply <span
                                                                    class="fa fa-long-arrow-right"></span></a>
                                                        </div>
                                                    </div>
                                                </li>
                                                <ul class="children">
                                                    <li class="author-comments">
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <img alt="img" src="assets/img/testimonial-3.png"
                                                                    class="media-object news-img">
                                                            </div>
                                                            <div class="media-body">
                                                                <h4 class="author-name">Admin</h4>
                                                                <span class="comments-date"> Posted on 12th June,
                                                                    2016</span>
                                                                <span class="author-tag">Author</span>
                                                                <p>Lorem Ipsum is that it has a more-or-less normal
                                                                    distribution of letters, as opposed to using
                                                                    'Content here, content here', making it look like
                                                                    readable English</p>
                                                                <a class="reply-btn" href="#">Reply <span
                                                                        class="fa fa-long-arrow-right"></span></a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <ul class="children">
                                                        <li>
                                                            <div class="media">
                                                                <div class="media-left">
                                                                    <img alt="img" src="assets/img/testimonial-1.png"
                                                                        class="media-object news-img">
                                                                </div>
                                                                <div class="media-body">
                                                                    <h4 class="author-name">David Muller</h4>
                                                                    <span class="comments-date"> Posted on 12th June,
                                                                        2016</span>
                                                                    <p>Lorem Ipsum is that it has a more-or-less normal
                                                                        distribution of letters, as opposed to using
                                                                        'Content here, content here', making it look
                                                                        like readable English</p>
                                                                    <a class="reply-btn" href="#">Reply <span
                                                                            class="fa fa-long-arrow-right"></span></a>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </ul>
                                                <li>
                                                    <div class="media">
                                                        <div class="media-left">
                                                            <img alt="img" src="assets/img/testimonial-2.png"
                                                                class="media-object news-img">
                                                        </div>
                                                        <div class="media-body">
                                                            <h4 class="author-name">Jhon Doe</h4>
                                                            <span class="comments-date"> Posted on 12th June,
                                                                2016</span>
                                                            <p>Lorem Ipsum is that it has a more-or-less normal
                                                                distribution of letters, as opposed to using 'Content
                                                                here, content here', making it look like readable
                                                                English</p>
                                                            <a class="reply-btn" href="#">Reply <span
                                                                    class="fa fa-long-arrow-right"></span></a>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                            <!-- comments pagination -->
                                            <nav>
                                                <ul class="pagination comments-pagination">
                                                    <li>
                                                        <a aria-label="Previous" href="#">
                                                            <span class="fa fa-long-arrow-left"></span>
                                                        </a>
                                                    </li>
                                                    <li><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#">4</a></li>
                                                    <li><a href="#">5</a></li>
                                                    <li>
                                                        <a aria-label="Next" href="#">
                                                            <span class="fa fa-long-arrow-right"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end blog comment -->
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>