<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Khoá học</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Khoá học</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<section id="mu-course-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-course-content-area">
                    <div class="row">
                        <div class="col-md-9">
                            <!-- start course content container -->
                            <div class="mu-course-container">
                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="#"><img src="assets/img/courses/1.jpg" alt="img"></a>
                                                <figcaption class="mu-latest-course-imgcaption">
                                                    <a href="#">Lập trình web</a>
                                                    <span><i class="fa fa-clock-o"></i>90Days</span>
                                                </figcaption>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4><a href="#">Reacte</a></h4>
                                                <p>Giảng viên: Lâm Quang vũ</p>
                                                <p>Lập trình reate cơ bản</p>
                                                <div class="mu-latest-course-single-contbottom">
                                                    <a class="mu-course-details" href="#">Details</a>
                                                    <span class="mu-course-price" href="#">$165.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="mu-latest-course-single">
                                            <figure class="mu-latest-course-img">
                                                <a href="#"><img src="assets/img/courses/1.jpg" alt="img"></a>
                                                <figcaption class="mu-latest-course-imgcaption">
                                                    <a href="#">Lập trình web</a>
                                                    <span><i class="fa fa-clock-o"></i>90Days</span>
                                                </figcaption>
                                            </figure>
                                            <div class="mu-latest-course-single-content">
                                                <h4><a href="#">Reacte</a></h4>
                                                <p>Giảng viên: Lâm Quang vũ</p>
                                                <p>Lập trình reate cơ bản</p>
                                                <div class="mu-latest-course-single-contbottom">
                                                    <a class="mu-course-details" href="#">Details</a>
                                                    <span class="mu-course-price" href="#">$165.00</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end course content container -->
                            <!-- start course pagination -->
                            <div class="mu-pagination">
                                <nav>
                                    <ul class="pagination">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span class="fa fa-angle-left"></span> Prev
                                            </a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                Next <span class="fa fa-angle-right"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- end course pagination -->
                        </div>
                        <div class="col-md-3">
                            <!-- start sidebar -->
                            <aside class="mu-sidebar">
                                <!-- start single sidebar -->
                                <div class="mu-single-sidebar">
                                    <h3>Danh mục</h3>
                                    <ul class="mu-sidebar-catg">
                                        <li class="main-nav-list">
                                            <a data-toggle="collapse" href="#category" aria-expanded="false"
                                                aria-controls="category">Web Design</a>
                                            <ul class="collapse" id="category" data-toggle="collapse"
                                                aria-expanded="false" aria-controls="category">
                                                <li ><a href="#">Frozen Fish</a></li>
                                                <li ><a href="#">Dried Fish</a></li>
                                                <li ><a href="#">Fresh Fish</a></li>
                                                <li ><a href="#">Meat Alternatives</a></li>
                                                <li ><a href="#">Meat</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">Web Development</a></li>
                                        <li><a href="">Math</a></li>
                                        <li><a href="">Physics</a></li>
                                        <li><a href="">Camestry</a></li>
                                        <li><a href="">English</a></li>
                                    </ul>
                                </div>
                                <!-- end single sidebar -->
                                
                            </aside>
                            <!-- / end sidebar -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>