<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <h2>Thay đổi mật khẩu</h2>
                    <ol class="breadcrumb">
                        <li><a href="/">Trang chủ</a></li>
                        <li class="active">Thay đổi mật khẩu</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End breadcrumb -->
<style>
    .login-form {
        width: 340px;
        margin: 50px auto;
        font-size: 15px;
    }

    .login-form form {
        margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }

    .form-control,
    .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }
</style>
<section id="mu-error">
    <div class="login-form">
        <form action="/password" method="post">
            <h2 class="text-center">Thay đổi mật khẩu</h2>
            <div class="form-group">
                <input type="password" class="form-control" name="oldpassword" minlength="8" placeholder="Mật khẩu cũ" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="newpassword" minlength="8" placeholder="Mật khẩu mới" required="required">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="confirmpassword" minlength="8" placeholder="Nhập lại mật khẩu" required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block"
                    style="background-color: #01bafd; border-color: #01bafd">Thay đổi</button>
            </div>
            <p style="color: red;">{{message}}</p>
        </form>
    </div>
</section>